<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.savanto.utils" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="false">
        <activity android:name=".ImageInterceptActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity android:name=".netcat.NetcatActivity"
            android:taskAffinity="com.savanto.utils.netcat.NetcatTask"
            android:label="@string/netcat_app"
            android:theme="@style/Theme.Netcat.Dialog"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".netcat.NetcatService" />

        <service android:name=".passwordinput.PasswordInputMethodService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/password_input_method" />
        </service>
    </application>
</manifest>
