<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.savanto.utils" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="false">
        <activity android:name=".ImageInterceptActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service android:name=".passwordinput.PasswordInputMethodService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/password_input_method" />
        </service>
    </application>
</manifest>
